<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Scheduled</th>
      <th>Ref</th>
      <th>Type</th>
      <th>Product</th>
      <th>Location</th>
      <th>Location</th>
      <th>Status</th>
      <th>Company</th>
      <th>Company as</th>
      <th>Qty</th>
      <th>Description</th>
      <th>Priority</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.scheduled %></td>
        <td><%= order.ref %></td>
        <td><%= order.type %></td>
        <td><%= order.product %></td>
        <td><%= order.location %></td>
        <td><%= order.location %></td>
        <td><%= order.status %></td>
        <td><%= order.company %></td>
        <td><%= order.company_as %></td>
        <td><%= order.qty %></td>
        <td><%= order.description %></td>
        <td><%= order.priority %></td>
        <td><%= order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
