<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduled:</strong>
  <%= @order.scheduled %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @order.ref %>
</p>

<p>
  <strong>Type:</strong>
  <%= @order.type %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<p>
  <strong>Location:</strong>
  <%= @order.location %>
</p>

<p>
  <strong>Location:</strong>
  <%= @order.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Company:</strong>
  <%= @order.company %>
</p>

<p>
  <strong>Company as:</strong>
  <%= @order.company_as %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @order.qty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @order.priority %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
