<p id="notice"><%= notice %></p>

<p>
  <strong>Picking order:</strong>
  <%= @item.picking_order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @item.product %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @item.qty %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
