<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :x %>
    <%= f.input :y %>
    <%= f.input :z %>
    <%= f.input :barcode %>
    <%= f.input :ref %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
